---
import BaseLayout from '../layouts/BaseLayout.astro';
const { frontmatter } = Astro.props;
const fecha = new Date(frontmatter.pubDate);
---

<BaseLayout>
  <h1>{frontmatter.title}</h1>
  <p>
    {
      fecha.toLocaleDateString('es-CO', {
        day: 'numeric',
        month: 'long',
        year: 'numeric',
      })
    }
  </p>
  <p><em>{frontmatter.description}</em></p>
  <p>Escrito por: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
</BaseLayout>
